/* 从网络获取会阻塞2-3s */
@import url('./font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body,
#app {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  /* overflow: hidden; */
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  /* 调整body的滚动条 */
  body::-webkit-scrollbar {
    width: 4px;
    background-color: var(--color-scroll);
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb);
  }
}

.fileInput,
button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  pointer-events: auto;
  border: none;
  outline: none;
  background-color: var(--color-button-bg);
  color: var(--color-button);
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.fileInput:hover,
button:hover {
  background-color: var(--color-button);
  color: var(--color-button-bg);
}

img {
  width: 25%;
  height: 25%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .fileInput,
  button {
    padding: 5%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .editorButton {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
}

.root {
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: var(--color-link);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  background: var(--color-hover);
}

a:active {
  background: var(--color-active);
}
